* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0 52px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    /* margin-right: 200px; */
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin-right: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 0 11rem;
    display: flex;
    justify-content: space-around;
}

.header-hero {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero h1 {
    font-size: 48px;
    font-weight: 950;
    color: #F9FAF8;
    margin-bottom: 6px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    border-radius: 10px;
    background-color: #3882F6;
    width: 100px;
    padding: 6px 20px;
    color: #E5E7EB;
    font-weight: bold;
}

.img {
    background-color: gray;
    max-width: 100%;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 80px;
}

.info h1 {
    color: #1F2937;
    font-weight: 1000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.figs {
    display: flex;
    justify-content: center;
}

.fig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 4px 15px;
}

.box {
    border: solid 5px;
    border-radius: 12px;
    border-color: #3882F6;
    background-color: #F9FAF8;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.fig p {
    max-width: 100%;
    text-align: center;
    flex: 0;
}

.quote {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #E5E7EB;
    padding: 42px;
    margin: 0 auto;
}

.quote p {
    /* margin-left: 100px; */
    /* align-self: center; */
    margin: 0 auto;
    width: 750px;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quote h3 {
    /* align-self: flex-end; */
    width: 750px;
    margin: 0 auto;
    text-align: right;
    
}

.sign-up {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 30px 10%;
    margin: 50px 15%;
}

.sign-up button {
    text-align: center;
    padding: 2px 24px;
    border-color: #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color:#F9FAF8;
    text-align: center;
    background-color: #1F2937;
}  

footer p {

    margin: 20px auto;
}